/*====== All App Layout Include Here =====*/
// Collapse Sidebar Layout
@import "./collapse";

// Dark Layout
@import "./dark";

// RTL Layout
@import "./rtl";

// Boxed Layout
@import "./boxed";

.icon-alert, .alert-addon{
  background-color: rgba( 0, 0, 0, 0.2 );
  display: flex;
  font-size: 1.563em;
  width: 50px;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

#skills{
  .progress-bar{
    background-color: #313131!important;
  }
}
