/*====== All Custom Files Include Here ======*/
//@import "./custom/common";
//@import "./custom/header";
//@import "./custom/sidebar";
//@import "./custom/main";
//@import "./custom/ul-element";
//@import "./custom/advance-ui-element";
//@import "./custom/forms";
//@import "./custom/tables";
//@import "./custom/editor";
//@import "./custom/drag-drop";
//@import "./custom/pages";
//@import "./custom/user";
//@import "./custom/session";
//@import "./custom/effect";
//@import "./custom/widgets";
//@import "./custom/extensions";
@import "./custom/aboutMe";
@import "./custom/paper";
@import "./custom/animation";
@import "./custom/timeline";

header {
  a{
    color: $white;
  }
  a:hover{
    color: $teal;
  }
}

body{
  background-color: black;
}