#aboutMe{
  h1,h2,h3 {
    font-size: 30px;
    color: $white;
    font-family: 'opensans-bold', 'sans-serif' ;
    margin-bottom: 12px;
    text-align: left;
  }

  p {
    font-size: 18px;
    color: #7A7A7A;
    text-align: left;
    width: 100%
  }
  a {
    color:$white;
    text-decoration:underline;
    font-weight: bold;
  }

  button {
    background-color: #3d4145;
    -webkit-transition: background-color, color .3s ease-in-out;
    -moz-transition: background-color, color .3s ease-in-out;
    -ms-transition: background-color, color .3s ease-in-out;
    -o-transition: background-color, color .3s ease-in-out;
    transition: background-color, color .3s ease-in-out;

    i {
      margin-right: 10px;
    }
  }

  button:hover{
    color: $black;
    background-color:$white;
  }

}