.paper-body{
  position: relative;

  h1, h2, h3{
    color: $white;
    font-size: 4em;
    font-weight: bold;
  }
  p{
    font-family: 'librebaskerville-regular', serif;
    color: #A8A8A8;
    margin: 0 auto;
    width: 70%;
    font-size: 2em;
    text-shadow: 0px 1px 2px rgba( 0, 0, 0, 0.5 );

    span{
      color: $white;
    }
  }

  p .title{
    text-align: center;
    margin-bottom: 10px;
  }

  .social{
    margin-top: 2em;
    margin-bottom: 2em;

    a{
      margin-left: 20px;
      margin-right: 20px;
      color: $white;
      font-size: 2em;

      -webkit-transition: color .3s ease-in-out;
      -moz-transition: color .3s ease-in-out;
      -ms-transition: color .3s ease-in-out;
      -o-transition: color .3s ease-in-out;
      transition: color .3s ease-in-out;
    }
    a:hover{
      color:$teal;
    }
  }

  .page-down{
    margin-top: 40px;
    margin-bottom: 10px;
    position: relative;

    a{
      position: absolute;
      text-align: center;
      left: 45%;
      display: block;
      height: 42px;
      width: 42px;
      font-size: 42px;
      line-height: 42px;
      padding-top: 2px;
      padding-bottom: 5px;
      color: $black;
      border-radius: 100%;
      background-color: $white;

      -webkit-transition: color, background-color .3s ease-in-out;
      -moz-transition: color, background-color .3s ease-in-out;
      -ms-transition: color, background-color .3s ease-in-out;
      -o-transition: color, background-color .3s ease-in-out;
      transition: color, background-color .3s ease-in-out;
    }
    a:hover{
      color:$white;
      background-color: $teal;
    }
  }
}