.folder-tree{
  margin-top: 20px;
  ul{
    list-style: none;
    padding-left: 5px;
    li{
      padding-left: 16px;
      position: relative;;
      box-sizing: border-box;
      &:before{
        content: '';
        height: 1px;
        width: 10px;
        background-color: #333;
        position: absolute;
        top: 10px;
        left: 0;
        margin: auto;
      }
      &::after{
        content:'';
        width: 1px;
        height: 100%;
        background-color: #333;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
      }
      &:last-child{
        &::after{
          height: 10px;
        }
      }
      div{
        position: relative;
        top: -20px;
        left: -20px;

        .pearson{
          margin-left: 60px;
          margin-top: -30px;

          .points{
            font-size: 0.75rem;
            color: rgba( 0, 0 ,0, 0.54);
          }
        }
      }
    }
    a{
      cursor: pointer;
      &:hover{
        color:#333;
        text-decoration: none;
      }
    }
  }
}