<p>
    A <span class="company">4move</span> atualmente é uma empresa de mobilidade com um sistema de maketing multi-nível.
    Intencionalmente a 4move um dia se torna apenas um app da compahia com o segmento de mobilidade pois a ideia é que a companhia tenha várias aplicações de diversos segmentos, tudo interligado.
</p>
<p class="activities">
    <span class="title"> Responsábilidades : </span> <br>
    <span class="item"> <i class="zmdi zmdi-check"></i> </span> Criação e manutenção de features no projeto legado que está em Laravel 4.2 que engloba o site, office, back-office e API v1<br>
    <span class="item"> <i class="zmdi zmdi-check"></i> </span> Participação na decisão de criação de novos micro serviços <br>
    <span class="item"> <i class="zmdi zmdi-check"></i> </span> Integrações com serviços externos ( terceiros )<br>
    <span class="item"> <i class="zmdi zmdi-check"></i> </span> Migração do projeto legado ( office ) para uma nova arquitetura usando as mais novas verções estaveis do laravel, react, redux<br>
    <span class="item"> <i class="zmdi zmdi-check"></i> </span> Migração do projeto legado ( back-office ) para uma nova arquitetura usando o laravel nova<br>
    <span class="item"> <i class="zmdi zmdi-check"></i> </span> Criação de pequenos protótipos híbridos usando react-native <br>
    <span class="item"> <i class="zmdi zmdi-check"></i> </span> Modelagem de dados e criação de querys optimizadas
</p>