<p>
    <span class="company">Free Lancer</span> foi como iniciei na área de T.I. e realizo trabalhos na categoria, até hoje.
</p>
<p class="activities">
    <span class="title"> Aceito trabalhos como : </span> <br>
    <span class="item"> <i class="zmdi zmdi-check"></i> </span> Criação / manutenção de sites ( back-end, front-end )<br>
    <span class="item"> <i class="zmdi zmdi-check"></i> </span> Criação / manutenção de aplicações mobile ( java, kotlin, react native ) <br>
    <span class="item"> <i class="zmdi zmdi-check"></i> </span> Consultória<br>
    <span class="item"> <i class="zmdi zmdi-check"></i> </span> Start de projeto ( criação da estrutura, configurações, etc... )<br>
</p>