<p>
    A <span class="company">ImperiumSoft</span> é um grupo de T.I. com infraestrutura, desenvolvedores front-end, back-end, mobile. Então aqui seria um Free Lancer que em equipe para trabalhos mais robustos.
</p>
<p class="activities">
    <span class="title"> Aceitomos trabalhos como : </span> <br>
    <span class="item"> <i class="zmdi zmdi-check"></i> </span> Criação / manutenção de sites ( back-end, front-end )<br>
    <span class="item"> <i class="zmdi zmdi-check"></i> </span> Criação / manutenção de aplicações mobile ( java, kotlin, react native ) <br>
    <span class="item"> <i class="zmdi zmdi-check"></i> </span> Consultória<br>
    <span class="item"> <i class="zmdi zmdi-check"></i> </span> Start de projeto ( criação da estrutura, configurações, etc... )<br>
</p>