/* Import */

@import url('https://fonts.googleapis.com/css?family=Chivo:300,300i,400,400i,700,700i,900,900i|Saira+Extra+Condensed:100,200,300,400,500,600,700,800|Saira:100,200,300,400,500,600,700,800');

/* Variables */

$background: #252827;

$color-primary: #3d4145;
$color-light: $background;
$color-dim: #6c6d6d;
$spacing: 50px;
$radius: 4px;

$date: 120px;
$dotborder: 4px;
$dot: 11px;
$line: 4px;

$font-title: 'Saira', sans-serif;
$font-text: 'Chivo', sans-serif;

/* Timeline */

.timeLine {
  border-left: $line solid $color-primary;
  border-bottom-right-radius: $radius;
  border-top-right-radius: $radius;
  background: rgba( 211,211,211, 0 );
  color: $black;
  font-family: $font-text;
  margin: $spacing auto;
  letter-spacing: 0.5px;
  position: relative;
  line-height: 1.4em;
  padding: $spacing;
  list-style: none;
  text-align: left;
  font-weight: 100;
  max-width: 60%;
  @media screen and (max-width: 360px) {
    max-width: 30%;
  }

  .content {
    p.title{
      font-size: 1.5em;
      border-bottom: 2px solid $teal;
      margin-bottom: 10px;

      span {
        color: $cyan;
        font-size: 0.5em;

        &::before{
          content: " - ";
        }
      }
    }
    .body{
        span{
          color: #A8A8A8!important;
        }
        span.company{
          font-weight: bold;
        }
        p {
          font-size: 1em!important;
        }
        p.activities {
          margin-top: 10px;
          span.title{
            font-weight: bold;
          }
          span.item{
            font-weight: bold;
            color: $teal !important;
            font-size: 1.3em;
          }
        }
    }
  }

  li {
    border-bottom: 1px dashed rgba( 211,211,211, 0.8 );
    padding-bottom: ($spacing * 0.5);
    margin-bottom: $spacing;
    position: relative;

    &:last-of-type {
      padding-bottom: 0;
      margin-bottom: 0;
      border: none;
    }

    &:before, &:after {
      position: absolute;
      display: block;
      top: 0;
    }

    &:before {
      left: ((($date * 0.6) + $spacing + $line + $dot + ($dotborder * 2)) * 1.5) * -1;
      color: fade($color-light, 40%);
      content: attr(data-date);
      text-align: right;
      font-weight: 100;
      font-size: 0.9em;
      min-width: $date;
      font-family: $font-title;
    }

    &:after {
      box-shadow: 0 0 0 $dotborder fade($color-primary,100%);
      left: ($spacing + $line + ($dot * 0.35) ) * -1;
      background: lighten($background,5%);
      border-radius: 50%;
      height: $dot;
      width: $dot;
      content: "";
      top: 5px;
    }
  }
}