<p>
    A <span class="company">Hackathon DADA</span> tinha como desafio melhorar a jornada digital dos pacientes. <br>
    A equipe de qual fiz parte optou por fazer um software de reconhecimento facial usando o IBM Watson, AWS Rekognition, no intuito de usar uma experiência digital para agilizar o atendimento ao chegar no consultório. O software seria o responsável por dizer ao paciente onde aguardar ser chamado pelo médico, via monitor ( totem ) ou pelo seu dispositivo mobile
</p>