<p>
    A <span class="company">O Meetup do iFood</span> tinha como objetivo explicar a arquitetura adotada por eles ( micro serviços ). <br>
    Foi abordado detalhadamente cada nível da arquitetura, linguagem usada, o como era feito e o por que de cada ponto.
</p>